@font-face {
    font-family: 'BannockBraeGothicRRWOFF';
    src: url('fonts/BannockBraeGothicRR.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BannockBraeGothicRRWOFF2';
    src: url('fonts/BannockBraeGothicRR.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/octupus_1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    font-family: 'BannockBraeGothicRRWOFF', 'BBannockBraeGothicRRWOFF2';
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-shadow: 2px 2px 5px black;
}

h1 {
    font-size: 4rem;
}