body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/octupus_1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-shadow: 2px 2px 5px black;
}

h1 {
    font-size: 4rem;
}